*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('imagens/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/*Index selção de nivel e btn inicar*/
#nivel {
    background-color: orangered;
    padding: 5px;
    color: white;
    border-radius: 5px;
    border: 1px solid or;
}

#inicarJogo {
    background-color: orangered;
    padding: 5px;
    border: 1px solid orangered;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    width: 100px;
    cursor: pointer;
}




/*Mosquito personagem*/
.mosquito1 {
    width: 40px;
    height: 40px;
}

.mosquito2 {
    width: 50px;
    height: 50px;
}

.mosquito3 {
    width: 60px;
    height: 60px;
}



/*Painel, vidas, cronometro e btn sair*/
.painel {
      position: absolute;
      width: 190px;
      padding: 10px;
      bottom: 0;
      background-color: white;
      opacity: 0.7;
      display: flex;
      flex-direction: column;
}

.cronometro {
    font-size: 20px;
    font-weight: bold;
}

#sair {
   color: black;
   text-decoration: none;
   padding-top: 5px 10px;
   border: 1px solid orangered;
   background-color: orangered;
   width: 50px;
   text-align: center;
   margin-top: 10px;
}




/*Game Over*/
#gameover {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameover img {
   width: 30%;
}

#gameover a {
    padding: 5px 10px;
    background-color: orangered;
    border: 1px solid orangered;
    width: 20%;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
 }

 #gameover a:hover {
    color: black;
    cursor: pointer;
 }



 /*Pontos app, gameover e vitória*/
#pontosPlacar {
     color: black;
     font-size: 20px;
     font-weight: bold;
}


 #resPontos{
     margin: 15px;
     text-align: center;
     color: white;
     font-size: 20px;
 }



 /*Contagem regressiva*/
 #regress {
      position: fixed;
      top: 40%;
      text-align: center;
      width: 100%;
      font-size: 50px;
      color: red;
 }
